<a href="https://colab.research.google.com/github/ARPANPATRA111/googlecolab/blob/main/%231BASICS_OF_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1: Basics of Coding R/Python

**1. Using Comments R/Python**

In [ ]:
# This is a single-line comment in Python
"""
This is a multi-line comment or a docstring
to explain complex logic or documentation.
"""

'\nThis is a multi-line comment or a docstring\nto explain complex logic or documentation.\n'

**2. Executing Commands R/Python**

In [ ]:
# Basic Python commands
print("Hello, World!")
result = 2 + 2
print("Result of 2 + 2 is:", result)

Hello, World!
Result of 2 + 2 is: 4

**3. Importing Packages R/Python**

In [ ]:
import numpy as np
import pandas as pd

**4. Getting Data into Python**

In [4]:
# Load data from a CSV file
import pandas as pd
data = pd.read_csv('top_selling_mobile_phones.csv')
print(data.head())

  Manufacturer                         Model  Form factor Smartphone?  Year  \
0        Nokia                          1100          Bar          No  2003
1        Nokia                          1110          Bar          No  2005
2        Apple    iPhone 6 and iPhone 6 Plus  Touchscreen         Yes  2014
3        Nokia                   105 series,          Bar          No  2013
4        Apple  iPhone 6S and iPhone 6S Plus  Touchscreen         Yes  2015

  Graph (million units)  Graph (million units).1
0          250[4][1][5]                      NaN
1        247.5[4][1][6]                      NaN
2              222.4[7]                      NaN
3                200[8]                      NaN
4  174.1[9][10][11][12]                      NaN

**5. Saving Output R/Python**

In [5]:
# Save a DataFrame to a CSV file
data.to_csv('output.csv', index=True)