<a href="https://colab.research.google.com/github/ARPANPATRA111/googlecolab/blob/main/lab11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1: Basics of Coding R/Python

**1. Using Comments R/Python**

In [ ]:
# This is a single-line comment in Python
"""
This is a multi-line comment or a docstring
to explain complex logic or documentation.
"""

'\nThis is a multi-line comment or a docstring\nto explain complex logic or documentation.\n'

**2. Executing Commands R/Python**

In [ ]:
# Basic Python commands
print("Hello, World!")
result = 2 + 2
print("Result of 2 + 2 is:", result)

Hello, World!
Result of 2 + 2 is: 4

**3. Importing Packages R/Python**

In [ ]:
import numpy as np
import pandas as pd

**4. Getting Data into Python**

In [1]:
# Load data from a CSV file
import pandas as pd
data = pd.read_csv('top_selling_mobile_phones.csv')
print(data.head())

  Manufacturer                         Model  Form factor Smartphone?  Year  \
0        Nokia                          1100          Bar          No  2003
1        Nokia                          1110          Bar          No  2005
2        Apple    iPhone 6 and iPhone 6 Plus  Touchscreen         Yes  2014
3        Nokia                   105 series,          Bar          No  2013
4        Apple  iPhone 6S and iPhone 6S Plus  Touchscreen         Yes  2015

  Graph (million units)  Graph (million units).1
0          250[4][1][5]                      NaN
1        247.5[4][1][6]                      NaN
2              222.4[7]                      NaN
3                200[8]                      NaN
4  174.1[9][10][11][12]                      NaN

**5. Saving Output R/Python**

In [3]:
# Save a DataFrame to a CSV file
data.to_csv('output.csv', index=True)

 # 2: DATA PREPARATION

**1. How to Add an Index Field Using R/Python**

In [4]:
# Adding an index field to a DataFrame

import pandas as pd

# Sample data without an index
data = {'Name': ['John', 'Jane', 'Bob'],
        'Age': [28, 34, 29]}

df = pd.DataFrame(data)

# Add a new index field
df['Index'] = df.index

print("DataFrame with Index column:\n", df)

DataFrame with Index column:
    Name  Age  Index
0  John   28      0
1  Jane   34      1
2   Bob   29      2

**2. Howto Change Misleading Field Values Using R/Python**

In [5]:
# Changing misleading field values in a DataFrame

import pandas as pd

# Sample data
data = {'Name': ['John', 'Jane', 'Bob'],
        'Age': [28, 34, 29],
        'Gender': ['M', 'F', 'M']}

df = pd.DataFrame(data)

# Change 'M' and 'F' to 'Male' and 'Female'
df['Gender'] = df['Gender'].replace({'M': 'Male', 'F': 'Female'})

print("Updated DataFrame with full gender labels:\n", df)

Updated DataFrame with full gender labels:
    Name  Age  Gender
0  John   28    Male
1  Jane   34  Female
2   Bob   29    Male

**3. Howto Re Express Categorical Field Values Using R/Python**